{% extends "base.html" %}
{% block title %}
    <title>tablon - SoundShake</title>
{% endblock %}
{% block content %}
	<h1 class="text-center">Tabl&oacute;n de anuncios</h1>
	<!--Aixo s'ha de canviar...tot-->
	<div class="container">
		{% for post in posts %}
			<div class="row">
                <div class="row">
                    <h4><strong><a href="#">{{ post.title }}</a></strong></h4>
                </div>
                <div class="row">
                    <p class="text-justify">{{ post.body }}</p>
                </div>
                <div class="row">
                    by <a href="#">{{ post.author.nickname }}</a>
                </div>
            </div>
			<hr>
		{% endfor %}
	</div>
{% endblock %}