{% extends "base.html" %}
{% block content %}
	<h1 style="text-align: center;">Bienvenido a <span>Soundshake</span></h1>
	<p style="text-align: center;">
		Si eres m&uacute;sico o trabajas en el mundo musical este es tu sitio.
    </p>
    <h4 style="text-align: center;">Una web de m&uacute;sicos para m&uacute;sicos !</h4>
    <p style="text-align: center;">
		Conoce el panorama musical de la ciudad de Barcelona, Promociona tu banda o Da a conocer t&uacute; negocio musical.
    </p>
    <p style="text-align: center;">
		<a href="{{ url_for('signup') }}">Reg&iacute;strate</a> y crea tu perfil para promocionarte y publicar tus anuncios, empieza a formar parte de la red musical de barcelona y ay&uacute;danos a crecer.
    </p>
{% endblock %}
