{% extends "base.html" %}
{% block content %}
	<h1><center>Bienvenido a <span>Soundshake</span><center></h1>
	<p><center>
		</br></br>
		Si eres músico o trabajas en el mundo musical este es tu sitio.</br>
		<h4>Una web de músicos para músicos !</h4>
		Conoce el panorama musical de la ciudad de Barcelona, Promociona tu banda o Da a conocer tú negocio músical.</br></br>
		<a href="{{ url_for('signup') }}">Regístrate</a> y crea tu Perfil para promocionarte y publicar tus anuncios, empieza a formar parte de la red musical de barcelona y ayúdanos a crecer.
	</center></p>
{% endblock %}
