{% extends "base.html" %}
{% block content %}
<div class="col-md-11">
	<div class="col-md-6">
		<h2>Bienvenido a <span>Soundshake</span></h2>
		<p>
			Si eres músico o trabajas en el mundo musical este es tu sitio.</br>
			<h5><center>Una web de músicos para músicos !</center></h5>
			Conoce el panorama musical de la ciudad de Barcelona. Promociona tu banda. Da a conocer tú negocio músical.
			<a href="#">Regístrate</a> y crea tu Perfil para promocionarte y publicar tus anuncios, empieza a formar parte de la red musical de barcelona y ayúdanos a crecer.
		</p>
	</div>
	<div class="col-md-4">
			<h3>Tablón</h3>
	</div>
</div>
{% endblock %}
