{% extends "unlogged/base.html" %}
{% block title %}
    <title>registro - SoundShake</title>
{% endblock %}
{% block content %}
	<div class="col-md-12">
		<h1>Registro</h1>
        <h3 class="text-center">Escoge tu perfil</h3>
		{% if userTypes %}
			<div class="row">
				{% for type in userTypes %}
					<div class="col-md-4">
						<h5>{{ type.name }}</h5>
						<p>{{ type.description }}</p>
						<button onclick="showForm({{ type.id_tipo_usuario }})">Registrarme</button>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
